$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$mocha:
    "rosewater" #f5e0dc #dc8a78,
    "flamingo" #f2cdcd #dd7878,
    "pink" #f5c2e7 #ea76cb,
    "mauve" #cba6f7 #8839ef,
    "red" #f38ba8 #d20f39,
    "maroon" #eba0ac #e64553,
    "peach" #fab387 #fe640b,
    "yellow" #f9e2af #df8e1d,
    "green" #a6e3a1 #40a02b,
    "teal" #94e2d5 #179299,
    "sky" #89dceb #04a5e5,
    "sapphire" #74c7ec #209fb5,
    "blue" #89b4fa #1e66f5,
    "lavender" #b4befe #7287fd,
    "text" #cdd6f4 #89b4fa,
    "subtext1" #bac2de $blue,
    "subtext0" #a6adc8 $blue,
    "overlay2" #9399b2 $blue,
    "overlay1" #7f849c $blue,
    "overlay0" #6c7086 $blue,
    "surface2" #585b70 $blue,
    "surface1" #45475a $blue,
    "surface0" #313244 $blue,
    "base" #1e1e2e $blue,
    "mantle" #181825 $blue,
    "crust" #11111b $blue;