.container {
    width: 100vw; height: 100vh;
    max-width: 100%;

    .left {
        background: $crust;
        border-right: 3px solid $mantle;
        position: fixed;
        top: 0; bottom: 0; left: 0;
        z-index: 1;
        width: 196px;

        .foot {
            justify-content: center; align-items: center;

            a {
                color: $text;

                &:hover { color: $peach; }
            }
        }
    }

    .right {
        margin-left: 196px;

        .menu {
            background: $mantle;
        }

        .main {
            align-items: center; justify-content: start;
        }
    }
}